{% extends "base.html" %}
{% block title %}Welcome to Django{% endblock %}
{% block content %}
<body class=" dashboard" data-admin-utc-offset="3600">
	<!-- Container -->
	<div id="container">
    <!-- Header -->
	    <div id="header">
    	    <div id="branding">
				<h1 id="site-name">Welcome to Django Blog Application</h1>
	        </div>
	        <div id="user-tools">        
                Welcome,
                <strong>{{ user.first_name }}</strong>.
                    <a href="/">View blogs</a> | 
                    <a href="/user/home/">Home</a> | 
                	<a href="/user/password_change/">Change password</a> | 
                	<a href="/user/logout/">Log out</a>
	        </div>
	    </div>
    	<!-- END Header -->
    	<!-- Content -->
    	<div id="content" class="colMS">
        	<h1>Post Your Blogs</h1>
        	<div id="content-user">
		        <div class="app-blog module">
	    	    <table width=700>
	        		<caption>
	            		<p class="section" title="User Blog application">User Profile</p>
			        </caption>
	            	<tr class="model-post">
		                <th scope="row"><a href="/user/auth/user/change/">{{user.first_name}} {{user.last_name}}</a></th>
		                <td><a href="/user/auth/user/" class="changelink">Change</a></td>
		            </tr>
	    	    </table>
        		</div>
			</div>
			<div id="content-main">
		        <div class="app-blog module">
	    	    <table width=700>
	        		<caption>
	            		<p class="section" title="Models in the Blog application">Blog</p>
			        </caption>
	            	<tr class="model-post">
		                <th scope="row"><a href="/user/blog/post/">Posts</a></th>
		                <td><a href="/user/blog/post/add/" class="addlink">Add</a></td>
		                <td><a href="/user/blog/post/" class="changelink">Change</a></td>
		            </tr>
	    	    </table>
        		</div>
			</div>
    	</div>
	</div>
        <br class="clear" />
    </div>
    <!-- END Content -->
    <div id="footer"></div>
</div>
<!-- END Container -->
</body>
{% endblock %}