{% extends "base.html" %}
{% block title %}Add User Blog{% endblock %}
{% block content %}


<body class=" dashboard" data-admin-utc-offset="3600">
	<!-- Container -->
	<div id="container">
    <!-- Header -->
	    <div id="header">
    	    <div id="branding">
				<h1 id="site-name">Welcome to Django Blog Application</h1>
	        </div>
	        <div id="user-tools">        
                Welcome,
                <strong>{{ user.first_name }}</strong>.
                    <a href="/">View blogs</a> | 
                    <a href="/user/home/">Home</a> | 
                	<a href="/user/password_change/">Change password</a> | 
                	<a href="/user/logout/">Log out</a>
	        </div>
	    </div>
    	<!-- END Header -->
    	<div class="breadcrumbs">
		<a href="/user/home/">Home</a>
		&rsaquo; Posts
		</div>
{% endblock %}