{% extends "base.html" %}
{% block title %}Welcome to Django Application Blog{% endblock %}
{% block content %}
<!-- Container -->
<div id="container">
<!-- Header -->
    <div id="header">
	    <div id="branding">
			<h1 id="site-name">Welcome to Django Blog Application</h1>
        </div>
        <div id="user-tools">
        	{% if user.username != '' %}
            Welcome,
            <strong>{{ user.first_name }} {{user.last_name}}</strong>.
                <a href="/">View site</a> | 
                <a href="">Change Password</a> | 
                <a href="logout/">Logout</a>
            {% else %}
            	<a href="/">View site</a> | 
	            <a href="register/">Register</a> |
    	        <a href="accounts/login/">Log in</a>
            {% endif %}
        </div>
    </div>
</div>
    {% for post in posts %}
    <div>
    	<h1><a href="">{{ post.title }}</a></h1>
    	<p><b>Published:</b> {{ post.published_date }}</p>
    	<p><b>Author:</b> {{ post.author.first_name }} {{ post.author.last_name }}</p>
    	<p>{{ post.text|linebreaks }}</p>
	</div>
	{% endfor %}
{% endblock %}